body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 100px;
  height: 100px;

 
}

.text{
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding: 50px;
}

.row,  .text-row{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  justify-content: space-around;
  margin-inline: 100px;
}

.text-row {
  gap: 50px;
}

